flows_OfficeLED.json
[{"id":"82257d14.789d5","type":"tab","label":"Display IP","disabled":false,"info":""},{"id":"b7b49bf8.abb29","type":"tab","label":"ledMsg","disabled":false,"info":""},{"id":"7d07d4ce.4703c4","type":"tab","label":"Display Alert","disabled":false,"info":""},{"id":"ec149ec9.6de5e","type":"tab","label":"Read Sensors","disabled":false,"info":""},{"id":"d195b92a.45c1a","type":"tab","label":"Basic Display","disabled":false,"info":""},{"id":"1a73343c.cfb74c","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"a3e79fa.25411e","type":"tab","label":"Basic Lights","disabled":false,"info":""},{"id":"f210a3b2.470b","type":"tab","label":"Advanced Lights","disabled":false,"info":""},{"id":"9ef36587.474278","type":"tab","label":"Senors Gauge","disabled":false,"info":""},{"id":"7b342883.c3c998","type":"tab","label":"All Sensor Data Gauges","disabled":false,"info":""},{"id":"a46128f9.a4344","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b921bd3.ebd124","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"1aab8950.8b23df","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18382c8.769a154","type":"hue-bridge","z":0,"name":"Office","bridge":"10.0.0.25","key":"2QI95kOUzjD2nwyuldofQkKw3cycZR65kLosNTKi","interval":"3000"},{"id":"cfa76edf.ab3ec","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"afe6662f.ebdbc","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5451a97.3fad0d8","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"6234ffd1.090678","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2042bf70.e11ed","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"58ca7db6.f396a4","type":"ui_group","z":"","name":"Local Env","tab":"9d56e1c7.e4b348","disp":true,"width":"6","collapse":false},{"id":"314859c3.654a7e","type":"ui_group","z":"","name":"Tables","tab":"9d56e1c7.e4b348","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0d152c1.5bba38","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9d56e1c7.e4b348","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2990d699.187b82","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fc2ac9ae.023d88","type":"ui_group","z":"","name":"Local Env","tab":"c495ebb1.9e9cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"2783c93b.25d996","type":"ui_group","z":"","name":"Temp on all Tables","tab":"6a5f6ebd.7870b","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e29cc5.34c4f34","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c495ebb1.9e9cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a5f6ebd.7870b","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"87de702e.3e1488","type":"ui_group","z":"","name":"Temp on all Tables","tab":"2f1d3799.f340b","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb7487ee.7b0be","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c9dea93.7a776c","type":"ui_group","z":"","name":"Table 5-8","tab":"2f1d3799.f340b","order":3,"disp":true,"width":"6","collapse":false},{"id":"c63fbd35.fde4f","type":"ui_group","z":"","name":"Table 9-12","tab":"2f1d3799.f340b","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f1d3799.f340b","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6975f0da.09865","type":"inject","z":"82257d14.789d5","name":"","topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":249,"wires":[["b941c3a.434424"]]},{"id":"b8bf6cc8.05729","type":"rpi-sensehat out","z":"82257d14.789d5","name":"","x":1019,"y":419,"wires":[]},{"id":"54144b0c.696b64","type":"hostip","z":"82257d14.789d5","name":"Host IP","x":672,"y":341,"wires":[["63d31d1f.8cc604"]]},{"id":"63d31d1f.8cc604","type":"function","z":"82257d14.789d5","name":"Host IP Address","func":"msg.payload = \"R180\\n\"+msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":729,"y":470,"wires":[["b8bf6cc8.05729"]]},{"id":"74e06686.d97668","type":"start-up-trigger","z":"82257d14.789d5","x":137,"y":135,"wires":[["b941c3a.434424"]]},{"id":"b941c3a.434424","type":"trigger","z":"82257d14.789d5","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":406,"y":212,"wires":[["54144b0c.696b64"]]},{"id":"6172803c.ac17f","type":"rpi-sensehat in","z":"82257d14.789d5","name":"","motion":false,"env":false,"stick":true,"x":65,"y":424,"wires":[["98360be6.090f08","8abf86e8.6c23e8"]]},{"id":"98360be6.090f08","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":405,"y":338,"wires":[["54144b0c.696b64"]]},{"id":"8abf86e8.6c23e8","type":"debug","z":"82257d14.789d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":387,"y":493,"wires":[]},{"id":"b989ad16.596ed","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":280,"y":460,"wires":[["4a7ce619.832e68"]]},{"id":"75193276.57f2e4","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":460,"wires":[]},{"id":"1b88243b.ece274","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["4a7ce619.832e68"]]},{"id":"4a7ce619.832e68","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["75193276.57f2e4"]]},{"id":"2c28d13b.e62eee","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":230,"y":251,"wires":[["4959d399.5d2374"]]},{"id":"74b42ba5.fc8c64","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1024,"y":212,"wires":[]},{"id":"4959d399.5d2374","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":523,"y":252,"wires":[["2bfed025.a596c8"]]},{"id":"e9adbea.3b6e0c","type":"rpi-sensehat out","z":"ec149ec9.6de5e","name":"","x":1047,"y":313,"wires":[]},{"id":"2bfed025.a596c8","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":244,"wires":[["74b42ba5.fc8c64","e9adbea.3b6e0c","ab750a58.058a08"]]},{"id":"abc549c2.cedf1","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":150,"wires":[["c36ff9c7.366d9"]]},{"id":"c36ff9c7.366d9","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":542.7272727272726,"y":150,"wires":[]},{"id":"29a60737.155f5","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.1818084716797,"y":265.45452880859375,"wires":[["361e0f8b.6786d"]]},{"id":"ae45cc1d.d5d6e8","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":540.9090811989523,"y":265.45452880859375,"wires":[]},{"id":"361e0f8b.6786d","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":323.6363716125488,"y":266.3636465072632,"wires":[["ae45cc1d.d5d6e8"]]},{"id":"eaa6a81d.4ccdc","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.18181610107422,"y":393.6363525390625,"wires":[["8f16ff37.b7bca8"]]},{"id":"69c542f0.feb794","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":602.7272567749023,"y":393.6363639831543,"wires":[]},{"id":"8f16ff37.b7bca8","type":"change","z":"d195b92a.45c1a","name":"Purple Text Slow Speed","rules":[{"t":"set","p":"color","pt":"msg","to":"purple","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":353.63637924194336,"y":394.54547023773193,"wires":[["69c542f0.feb794"]]},{"id":"4b0be647.9f4f68","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99.09090423583984,"y":510,"wires":[["33250135.bfc756"]]},{"id":"5f6035dc.3db29c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":593.636344909668,"y":510.0000114440918,"wires":[]},{"id":"33250135.bfc756","type":"change","z":"d195b92a.45c1a","name":"Red Text Slow Fast","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324.545467376709,"y":510.90911769866943,"wires":[["5f6035dc.3db29c"]]},{"id":"7f2984b0.75e9ec","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":617,"wires":[["ab3f295f.b7f4f8"]]},{"id":"72fb1d89.b5d91c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":919.727294921875,"y":617,"wires":[]},{"id":"ab3f295f.b7f4f8","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":313.45456314086914,"y":617.9091176986694,"wires":[["8ccd59b3.60085"]]},{"id":"8ccd59b3.60085","type":"function","z":"d195b92a.45c1a","name":"Rotate Text 180 degrees","func":"msg.payload = \"R180\\n\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":617,"wires":[["72fb1d89.b5d91c"]]},{"id":"8b4d1670.4425b8","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":237.27272033691406,"y":508.1817932128906,"wires":[["6a9152da.8578b4"]]},{"id":"98a7999c.fceef","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1031.272720336914,"y":469.1817932128906,"wires":[]},{"id":"6a9152da.8578b4","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530.2727203369141,"y":509.1817932128906,"wires":[["10b91b4.36bd665"]]},{"id":"3fd5d75c.cb7e08","type":"rpi-sensehat out","z":"ec149ec9.6de5e","name":"","x":1054.272720336914,"y":570.1817932128906,"wires":[]},{"id":"10b91b4.36bd665","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":796.2727203369141,"y":501.1817932128906,"wires":[["98a7999c.fceef","3fd5d75c.cb7e08","2f23194.111c5e6"]]},{"id":"725f93bc.f54dbc","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":220.90908813476562,"y":710.9090576171875,"wires":[["ff82e239.86deb"]]},{"id":"487add0b.509ee4","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1014.9090881347656,"y":671.9090576171875,"wires":[]},{"id":"ff82e239.86deb","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":513.9090881347656,"y":711.9090576171875,"wires":[["9d9edfc5.9bd9c8"]]},{"id":"3bb73434.6e6c5c","type":"rpi-sensehat out","z":"ec149ec9.6de5e","name":"","x":1037.9090881347656,"y":772.9090576171875,"wires":[]},{"id":"9d9edfc5.9bd9c8","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.9090881347656,"y":703.9090576171875,"wires":[["487add0b.509ee4","3bb73434.6e6c5c","5e3405a3.6eacec"]]},{"id":"5a3108ec.eee3a","type":"debug","z":"a3e79fa.25411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1073,"y":709,"wires":[]},{"id":"dcfd2c2c.711288","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":768,"wires":[["101f99e0.5b3016","7e0df7af.b0f4c","10847b34.0bee2d"]]},{"id":"d75ed04c.2339a8","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":834,"wires":[["101f99e0.5b3016","7e0df7af.b0f4c","10847b34.0bee2d"]]},{"id":"dbefdf4d.b93fb","type":"comment","z":"1a73343c.cfb74c","name":"*Waiting for Applicaion API approval from Twitter","info":"","x":1268,"y":172,"wires":[]},{"id":"7d28bc32.85f5fc","type":"hue-bridge-node","z":"a3e79fa.25411e","name":"Lab Bridge","bridge":"cfa76edf.ab3ec","autoupdates":true,"x":354,"y":113,"wires":[[]]},{"id":"101f99e0.5b3016","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":681,"y":675,"wires":[["5a3108ec.eee3a"]]},{"id":"397f6065.beead8","type":"comment","z":"d195b92a.45c1a","name":"You can just copy this code to display text","info":"Replace the inject node with any node that generates a message\n\n\nAny item that is assigned to msg.property is displayed","x":861,"y":149,"wires":[]},{"id":"5a3b6e9e.9d96f8","type":"comment","z":"d195b92a.45c1a","name":"Here are a list of valid colors","info":"red\nblue\ngreen\npurple\norange\n...","x":832,"y":260,"wires":[]},{"id":"1e490269.e33e9e","type":"comment","z":"d195b92a.45c1a","name":"How to adjust time","info":"You can adjust time by assigning a number 1-5.\n1 is the slowest and 5 is the fastest","x":830,"y":391,"wires":[]},{"id":"e71674a0.fb0678","type":"comment","z":"d195b92a.45c1a","name":"Info on how to Rotate the screen","info":"","x":1226,"y":620,"wires":[]},{"id":"ba7497f.7682668","type":"comment","z":"a3e79fa.25411e","name":"Step 1 - Initialize Bridge","info":"The first thing you need to do is intialize the bridge.\n\nJust simply ....\n\n\nThen you need to select what light you want to address\n","x":552,"y":114,"wires":[],"icon":"node-red/hash.svg"},{"id":"42b4106a.0a1ba8","type":"comment","z":"a3e79fa.25411e","name":"Step 2 - Select Light","info":"Do these steps","x":750,"y":168,"wires":[],"icon":"node-red/hash.svg"},{"id":"ec5b376e.d40e38","type":"comment","z":"a3e79fa.25411e","name":"To Turn Light On/Off","info":"Just send a boolean message the is True for On and False for Off\n\n","x":143,"y":214,"wires":[]},{"id":"7e0df7af.b0f4c","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 2","bridge":"cfa76edf.ab3ec","lightid":"2","colornamer":true,"x":685,"y":797,"wires":[["5a3108ec.eee3a"]]},{"id":"10847b34.0bee2d","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 3","bridge":"cfa76edf.ab3ec","lightid":"3","colornamer":true,"x":688,"y":884,"wires":[["5a3108ec.eee3a"]]},{"id":"ce62362.66b73c8","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344,"y":213,"wires":[["82f10a69.c29d98"]]},{"id":"82f10a69.c29d98","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":727,"y":210,"wires":[["25da9cb7.c066fc"]]},{"id":"25da9cb7.c066fc","type":"debug","z":"a3e79fa.25411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1116,"y":209,"wires":[]},{"id":"4667ec90.d3edec","type":"comment","z":"a3e79fa.25411e","name":"To Turn Light On/Off","info":"Just send a bollean message the is True for On and False for Off\n\n","x":144,"y":389,"wires":[]},{"id":"cf0ce98.2a2ef18","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":443,"wires":[["f58a58cd.dd1e58"]]},{"id":"5f35d4fd.7a4a54","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":821,"y":445,"wires":[["db1e46fa.373328"]]},{"id":"db1e46fa.373328","type":"debug","z":"a3e79fa.25411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1167,"y":444,"wires":[]},{"id":"c07f3cf8.4d3d8","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":269,"wires":[["82f10a69.c29d98"]]},{"id":"f58a58cd.dd1e58","type":"switch","z":"a3e79fa.25411e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":435,"y":447,"wires":[["da4854af.14a128"],["da4854af.14a128"],["fb071c86.2633d"],["fb071c86.2633d"]]},{"id":"da4854af.14a128","type":"change","z":"a3e79fa.25411e","name":"Set Msg to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":621,"y":408,"wires":[["5f35d4fd.7a4a54"]]},{"id":"fb071c86.2633d","type":"change","z":"a3e79fa.25411e","name":"Set Msg to False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":629,"y":463,"wires":[["5f35d4fd.7a4a54"]]},{"id":"f1129347.f22be8","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":497,"wires":[["f58a58cd.dd1e58"]]},{"id":"ade19350.376618","type":"comment","z":"a3e79fa.25411e","name":"Split based on input","info":"Here we take a look at the message ...","x":482,"y":516,"wires":[]},{"id":"cd827bf.74b7908","type":"comment","z":"ec149ec9.6de5e","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":340,"wires":[]},{"id":"eb824acc.c95b48","type":"comment","z":"ec149ec9.6de5e","name":"Set the Msg to the Temp","info":"This function grabs the temp from the object that is sent by the Raspberry Pi.","x":807,"y":187,"wires":[]},{"id":"1ca5aa28.5380e6","type":"debug","z":"f210a3b2.470b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1117,"y":262,"wires":[]},{"id":"18bc4c4c.304f54","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":109,"y":158,"wires":[["fbc392e1.ef329"]]},{"id":"5f890bde.4ffc94","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":241,"wires":[["2880e68b.eae602"]]},{"id":"d74b44ae.77fca8","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["f01740b2.bf971"]]},{"id":"47357b14.86ef1c","type":"comment","z":"f210a3b2.470b","name":"Setups up a Scene for a group of lights","info":"Press the Search icon and select a scene.\n\nAny input will trigger this flow. it does not matter what the source input is\n\n\nConnect to the lights you want to change.\n","x":515,"y":70,"wires":[]},{"id":"d3d1cf96.aac83","type":"comment","z":"ec149ec9.6de5e","name":"Select Environment events","info":"Select Environment events","x":279,"y":201,"wires":[]},{"id":"374c8d28.02ab5a","type":"comment","z":"ec149ec9.6de5e","name":"Send to the local Display","info":"","x":1086,"y":360,"wires":[]},{"id":"a285dfb4.3219d8","type":"comment","z":"a3e79fa.25411e","name":"Can you make is easy to turn a light bulb on and off","info":"Blah blah....","x":238,"y":66,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"e9a623c3.d90df","type":"comment","z":"a3e79fa.25411e","name":"Can you make is easy turn multiple lights on or off","info":"Blah blah....","x":221,"y":647,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"b70eace.d9d215","type":"comment","z":"a3e79fa.25411e","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":260,"y":1214,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"f4c5c6d1.a30ae","type":"comment","z":"a3e79fa.25411e","name":"Can you change the color of a light","info":"Blah blah....","x":222,"y":972,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"b6a3b43a.24aad8","type":"comment","z":"f210a3b2.470b","name":"Can you make is easy setup a scene that crosses multiple lights","info":"Blah blah....","x":242,"y":25,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"89305400.15765","type":"comment","z":"f210a3b2.470b","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":242,"y":501,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"80acafd8.29a2f","type":"comment","z":"f210a3b2.470b","name":"Make and API to lights on and off on other tables","info":"Blah blah....","x":211,"y":591,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"898e4be8.6963d","type":"comment","z":"f210a3b2.470b","name":"Have light react to an outside alert","info":"React the the following states\n\nLowAlert - Stand Message that will happen all the time\n\nMedAlert\n\nHighAlert\n\nMeltDownAlert","x":177,"y":679,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"53006851.d30ce8","type":"comment","z":"a3e79fa.25411e","name":"Can you change the brightness of a light","info":"Blah blah....","x":242,"y":1035,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"3acc2926.7b52fe","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":1086,"wires":[["35bd0eb5.a4d812"]]},{"id":"efb0f2d2.3a08e","type":"hue-light","z":"a3e79fa.25411e","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":634,"y":1084,"wires":[["baba971.ff7ade8"]]},{"id":"baba971.ff7ade8","type":"debug","z":"a3e79fa.25411e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1023,"y":1083,"wires":[]},{"id":"9c27b602.19cb","type":"inject","z":"a3e79fa.25411e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1153,"wires":[["df83c90.e88b138"]]},{"id":"35bd0eb5.a4d812","type":"change","z":"a3e79fa.25411e","name":"Set Brightness full","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1085,"wires":[["efb0f2d2.3a08e"]]},{"id":"df83c90.e88b138","type":"change","z":"a3e79fa.25411e","name":"Set Brightness 30","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":1133,"wires":[["efb0f2d2.3a08e"]]},{"id":"2a9458bb.de5308","type":"comment","z":"d195b92a.45c1a","name":"Create a Message with diffrent colored background","info":"Can you make is easy turn lights on and off on other tables\n\nMake sure the Display goes back to black after the message is displayed\n","x":224,"y":709,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"a652dbb.8549b28","type":"function","z":"a3e79fa.25411e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":1173,"wires":[[]]},{"id":"fb1310e1.0bb7e8","type":"comment","z":"1a73343c.cfb74c","name":"Can you search for all Tweets that include SUSE","info":"Blah blah....","x":258,"y":170,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"c54023da.744cd8","type":"comment","z":"1a73343c.cfb74c","name":"Can you limit yout notification to just Trending Tweets about one of your customers?","info":"Blah blah....","x":364,"y":660,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"aafcb801.814cc8","type":"comment","z":"1a73343c.cfb74c","name":"Can you display the Tweets that include SUSE","info":"Blah blah....","x":249,"y":326,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"d615cf7d.cf9158","type":"comment","z":"1a73343c.cfb74c","name":"Can you display the Tweets that include you customers","info":"Blah blah....","x":279,"y":459,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"b70d45ad.0aeef8","type":"comment","z":"1a73343c.cfb74c","name":"Can you search for all Tweets that include your top customers?","info":"Blah blah....","x":309,"y":402,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"5869d1a1.586198","type":"comment","z":"1a73343c.cfb74c","name":"Can you limit the amount of tweets you see","info":"Watching all of the tweet can be overwheming.","x":251,"y":591,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"8aeebb1b.570698","type":"comment","z":"1a73343c.cfb74c","name":"Can you change the color of a light bulb based on what company  was just tweeted about","info":"As a new tweet comes in ","x":392,"y":527,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"dd4c62e.4cc2b2","type":"twitter in","z":"1a73343c.cfb74c","twitter":"","tags":"#fail","user":"false","name":"","inputs":0,"x":570,"y":220,"wires":[["4ad0691c.7935c8","45229d1f.8858ac","55c589a6.7e776"]]},{"id":"4bcbc319.21df54","type":"debug","z":"1a73343c.cfb74c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":220,"wires":[]},{"id":"55c589a6.7e776","type":"function","z":"1a73343c.cfb74c","name":"","func":"var tweet = msg.tweet;\nvar name = tweet.user.screen_name;\nvar nameID = tweet.id.str;\nmsg.payload = tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["4bcbc319.21df54"]]},{"id":"45229d1f.8858ac","type":"debug","z":"1a73343c.cfb74c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.screen_name","targetType":"msg","x":850,"y":300,"wires":[]},{"id":"4ad0691c.7935c8","type":"debug","z":"1a73343c.cfb74c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"23ce4dc1.2d04fa","type":"hue-bridge-node","z":"f210a3b2.470b","name":"","bridge":"cfa76edf.ab3ec","autoupdates":true,"x":1040,"y":100,"wires":[[]]},{"id":"fbc392e1.ef329","type":"hue-scene","z":"f210a3b2.470b","name":"Savanna sunset","bridge":"cfa76edf.ab3ec","sceneid":"huZ0oT9lVXax2Eo","x":400,"y":160,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"25153f4a.23b448","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":710,"y":120,"wires":[["1ca5aa28.5380e6"]]},{"id":"2c39420a.8357e6","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 2","bridge":"cfa76edf.ab3ec","lightid":"2","colornamer":true,"x":710,"y":200,"wires":[["1ca5aa28.5380e6"]]},{"id":"eacfd54d.697cb","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 3","bridge":"cfa76edf.ab3ec","lightid":"3","colornamer":true,"x":710,"y":280,"wires":[["1ca5aa28.5380e6"]]},{"id":"2880e68b.eae602","type":"hue-scene","z":"f210a3b2.470b","name":"Energize","bridge":"cfa76edf.ab3ec","sceneid":"iMXdu5R8n4hgfnt","x":380,"y":240,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"f01740b2.bf971","type":"hue-scene","z":"f210a3b2.470b","name":"Tropical twilight","bridge":"cfa76edf.ab3ec","sceneid":"ikwlXC9iZCHoggR","x":400,"y":320,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"46fa8e41.5c5ed","type":"hue-scene","z":"f210a3b2.470b","name":"Arctic aurora","bridge":"cfa76edf.ab3ec","sceneid":"Iog4Adf8YGSkASo","x":390,"y":400,"wires":[["eacfd54d.697cb","2c39420a.8357e6","25153f4a.23b448"]]},{"id":"749de560.06c74c","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["46fa8e41.5c5ed"]]},{"id":"6fdb6489.3ca04c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":660,"wires":[["da8d327f.6dd68"]]},{"id":"da8d327f.6dd68","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":660,"wires":[]},{"id":"b7e6d5ab.1fdb88","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["195d9e1e.537ada"]]},{"id":"195d9e1e.537ada","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"","retain":"","broker":"a46128f9.a4344","x":770,"y":280,"wires":[]},{"id":"7a3a1a64.2b0a8c","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":330,"y":120,"wires":[["1927393e.7d0587"]]},{"id":"5f6e2889.c6cc78","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":890,"y":120,"wires":[]},{"id":"1927393e.7d0587","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["5f6e2889.c6cc78"]]},{"id":"72eec4e4.c1be7c","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg will display a msg on the local dispay","info":"","x":210,"y":60,"wires":[]},{"id":"435253d7.1b960c","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg","info":"This will send 'Test ledMSG' to the local LED","x":270,"y":280,"wires":[]},{"id":"d5589f3a.959a1","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables/# will display a msg a specific table's display","info":"","x":260,"y":380,"wires":[]},{"id":"164ec1b5.500436","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["1927393e.7d0587"]]},{"id":"f22d7d56.d49d88","type":"comment","z":"b7b49bf8.abb29","name":"Copy this flow to each Raspberry Pi and replace the Table number","info":"","x":740,"y":540,"wires":[]},{"id":"f4a117d7.eda698","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables/1","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":300,"y":660,"wires":[]},{"id":"23ae887c.1c084","type":"comment","z":"b7b49bf8.abb29","name":"This Flow requires MQTT running on a server at 10.0.10.100","info":"","x":1380,"y":260,"wires":[]},{"id":"6b9ecb60.968404","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":270,"y":880,"wires":[["805d833.bb8778"]]},{"id":"a46e82d8.aebda8","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":880,"wires":[]},{"id":"3f0a0160.1f9e76","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":980,"wires":[["805d833.bb8778"]]},{"id":"805d833.bb8778","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["a46e82d8.aebda8"]]},{"id":"78576c26.146e4c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1080,"wires":[["99f2bf25.14df18"]]},{"id":"99f2bf25.14df18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":1080,"wires":[]},{"id":"f8aeba9.b290048","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables will display a msg on all displays","info":"","x":220,"y":800,"wires":[]},{"id":"fea5d773.c4b848","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables","info":"This will send 'Test ledMSG/Tables' to the local LED","x":300,"y":1080,"wires":[]},{"id":"dc639f22.140a1","type":"rpi-sensehat out","z":"7d07d4ce.4703c4","name":"","x":1350,"y":400,"wires":[]},{"id":"28595d4a.e31042","type":"looptimer","z":"7d07d4ce.4703c4","duration":"10","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":840,"y":331,"wires":[["dc639f22.140a1"],["e73378f9.eae308"]]},{"id":"9bfd0c17.c343f8","type":"mqtt in","z":"7d07d4ce.4703c4","name":"","topic":"ledAlert","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":221.5,"y":268,"wires":[["9cf26629.3bdba8"]]},{"id":"24297f26.015d1","type":"debug","z":"7d07d4ce.4703c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1106.5,"y":271,"wires":[]},{"id":"aedf5ff8.a496c","type":"inject","z":"7d07d4ce.4703c4","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":363.1818642616272,"wires":[["9cf26629.3bdba8"]]},{"id":"9cf26629.3bdba8","type":"function","z":"7d07d4ce.4703c4","name":"White on Red","func":"msg.color = \"white\";\nmsg.background = \"red\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":279,"wires":[["28595d4a.e31042"]]},{"id":"306d9303.e2b9bc","type":"rpi-sensehat out","z":"7d07d4ce.4703c4","name":"","x":1397.5,"y":685,"wires":[]},{"id":"897303cf.cfde98","type":"function","z":"7d07d4ce.4703c4","name":"White on Black","func":"msg.color = \"white\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":953.5,"y":622,"wires":[["306d9303.e2b9bc"]]},{"id":"801bb74.f046548","type":"delay","z":"7d07d4ce.4703c4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030.5,"y":464,"wires":[["897303cf.cfde98"]]},{"id":"e73378f9.eae308","type":"change","z":"7d07d4ce.4703c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.5,"y":411,"wires":[["801bb74.f046548"]]},{"id":"1bef4f83.926","type":"function","z":"7d07d4ce.4703c4","name":"Red and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1015,"y":758,"wires":[["306d9303.e2b9bc"]]},{"id":"ee9962b7.32e11","type":"inject","z":"7d07d4ce.4703c4","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["92b91a8c.a50b8"]]},{"id":"92b91a8c.a50b8","type":"mqtt out","z":"7d07d4ce.4703c4","name":"","topic":"ledMsg","qos":"","retain":"","broker":"a46128f9.a4344","x":530,"y":540,"wires":[]},{"id":"9f30dfd8.880dd8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":460,"wires":[["fc58a91b.d9424"]]},{"id":"fc58a91b.d9424","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":460,"wires":[]},{"id":"fc048521.7ff5c8","type":"comment","z":"b7b49bf8.abb29","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":1520,"y":400,"wires":[]},{"id":"8e3cab89.286fa8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":520,"wires":[["91acf9aa.814238"]]},{"id":"91acf9aa.814238","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":520,"wires":[]},{"id":"730595ce.42eaac","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":580,"wires":[["a18efbce.1d4aa"]]},{"id":"a18efbce.1d4aa","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/3","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":580,"wires":[]},{"id":"e44ea23d.644ab","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":640,"wires":[["b94dd0b9.12c268"]]},{"id":"b94dd0b9.12c268","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/4","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":640,"wires":[]},{"id":"1e2f503f.ce083","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":700,"wires":[["ab292841.33f6a"]]},{"id":"ab292841.33f6a","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/5","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":700,"wires":[]},{"id":"b036c01f.71bc58","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":760,"wires":[["e8166dd2.83d18"]]},{"id":"e8166dd2.83d18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/6","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":760,"wires":[]},{"id":"ab750a58.058a08","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/temp","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1440,"y":240,"wires":[]},{"id":"2f23194.111c5e6","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/humidity","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1450,"y":500,"wires":[]},{"id":"5e3405a3.6eacec","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/presure","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1450,"y":700,"wires":[]},{"id":"9cb5184a.45f9b","type":"comment","z":"ec149ec9.6de5e","name":"Push vaules to sensor API","info":"","x":1470,"y":160,"wires":[]},{"id":"f182adef.c86178","type":"comment","z":"ec149ec9.6de5e","name":"Needs to be updated for every Table","info":"","x":1520,"y":360,"wires":[]},{"id":"fcaf7fa5.fc96c8","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp in F","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1033.9091033935547,"y":265.00000199404633,"wires":[]},{"id":"7f000ad3.7f42a4","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":333.0909118652344,"y":264.6363525390625,"wires":[["10637a08.613376"]]},{"id":"f839207f.bd2e38","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1042,"y":353.9090881347656,"wires":[]},{"id":"83c61b3b.b4c28","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.999984741211,"y":518.9999714764682,"wires":[]},{"id":"cb0038ad.93822","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":364.1817893981935,"y":522.6363240155307,"wires":[["64d12bfa.657434"]]},{"id":"64d12bfa.657434","type":"change","z":"9ef36587.474278","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":637.1818084716798,"y":524.9090596112338,"wires":[["83c61b3b.b4c28","b5e18971.413b48"]]},{"id":"b5e18971.413b48","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":885.0908813476562,"y":629.9090576171875,"wires":[]},{"id":"cdf3e28f.ddc44","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":925.8181953430176,"y":746,"wires":[]},{"id":"59f69e08.e83ee8","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":394,"y":749.6363525390625,"wires":[["15d56c33.2d6aac"]]},{"id":"15d56c33.2d6aac","type":"change","z":"9ef36587.474278","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.0000190734863,"y":751.9090881347656,"wires":[["cdf3e28f.ddc44","8054c14e.93b94"]]},{"id":"8054c14e.93b94","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":914.9090919494628,"y":856.9090861407193,"wires":[]},{"id":"3d35c475.ec57ac","type":"comment","z":"9ef36587.474278","name":"To view Gauges go to ip:1880/ui","info":"This is a nother note\n[https://10.0.0.150]()","x":1330,"y":40,"wires":[]},{"id":"dc10597d.2a387","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp in C","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":849,"y":55,"wires":[]},{"id":"29d854cc.28506c","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":317.1818046569824,"y":58.6363525390625,"wires":[["3ea986f7.790e3a"]]},{"id":"3ea986f7.790e3a","type":"change","z":"9ef36587.474278","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":584.1817932128906,"y":57.909088134765625,"wires":[["dc10597d.2a387","b8dbf331.52ab78"]]},{"id":"b8dbf331.52ab78","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.0908966064452,"y":165.9090861407193,"wires":[]},{"id":"10637a08.613376","type":"change","z":"9ef36587.474278","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.0908813476562,"y":263.9090881347656,"wires":[["f6073b01.b20208"]]},{"id":"f6073b01.b20208","type":"function","z":"9ef36587.474278","name":"Change to F","func":"msg.payload  = (msg.payload*1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":265,"wires":[["fcaf7fa5.fc96c8","f839207f.bd2e38"]]},{"id":"e1018734.ea091","type":"comment","z":"9ef36587.474278","name":"","info":"","x":983,"y":56,"wires":[]},{"id":"1c16fe38.54d50a","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"87de702e.3e1488","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 1","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":120,"wires":[]},{"id":"218a839b.2f342c","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/1/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":120,"wires":[["1c16fe38.54d50a"]]},{"id":"ea2320f6.951998","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"87de702e.3e1488","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 2","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":200,"wires":[]},{"id":"316a79bd.1cdbb6","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/2/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":200,"wires":[["ea2320f6.951998"]]},{"id":"ca909471.9f532","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"87de702e.3e1488","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 3","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":280,"wires":[]},{"id":"a4e77ba9.1fa0d","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/3/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":280,"wires":[["ca909471.9f532"]]},{"id":"9996b815.49e5f","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"87de702e.3e1488","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 4","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"30eab67d.042432","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/4/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":360,"wires":[["9996b815.49e5f"]]},{"id":"ac8f8afd.635b68","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"7c9dea93.7a776c","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 5","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":460,"wires":[]},{"id":"bd285556.6146e8","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/5/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":460,"wires":[["ac8f8afd.635b68"]]},{"id":"2d714db2.e77952","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"7c9dea93.7a776c","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 6","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":540,"wires":[]},{"id":"e6ded819.79218","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/6/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":240,"y":540,"wires":[["2d714db2.e77952"]]},{"id":"9f54d4fb.0324b8","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"7c9dea93.7a776c","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 7","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":120,"wires":[]},{"id":"49b2497f.5d37e","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/7/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":120,"wires":[["9f54d4fb.0324b8"]]},{"id":"2cd445cb.9d0f12","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"7c9dea93.7a776c","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 8","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":200,"wires":[]},{"id":"b1fa72da.1f291","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/8/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":200,"wires":[["2cd445cb.9d0f12"]]},{"id":"6ca40764.c21bb","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"c63fbd35.fde4f","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 9","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":280,"wires":[]},{"id":"105851ef.46da26","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/9/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":280,"wires":[["6ca40764.c21bb"]]},{"id":"e05ec553.2d6c4","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"c63fbd35.fde4f","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 10","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":360,"wires":[]},{"id":"9a9b8c61.1b8ea8","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/10/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":360,"wires":[["e05ec553.2d6c4"]]},{"id":"e7ac226e.1d21d","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"c63fbd35.fde4f","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 11","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":460,"wires":[]},{"id":"9e6449ab.dca91","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/11/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":460,"wires":[["e7ac226e.1d21d"]]},{"id":"6fa2a986.7d0938","type":"ui_gauge","z":"7b342883.c3c998","name":"","group":"c63fbd35.fde4f","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 12","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":540,"wires":[]},{"id":"bbf6eeca.7b4e5","type":"mqtt in","z":"7b342883.c3c998","name":"","topic":"sensor/12/temp","qos":"2","datatype":"auto","broker":"eb7487ee.7b0be","x":840,"y":540,"wires":[["6fa2a986.7d0938"]]},{"id":"4d321521.d9736c","type":"comment","z":"7b342883.c3c998","name":"This sends all the temp sensor data to the dashboard on a single tab called ...","info":"To view this information go to _IP_:1880/ui and select the ... on the left tab button","x":450,"y":40,"wires":[]},{"id":"158e2248.c272b6","type":"comment","z":"7b342883.c3c998","name":"Wait for sensor information to be recieved via MQTT and map it to a Table on the Dashboard","info":"","x":700,"y":600,"wires":[]}]