flows_OfficeLED.json
[{"id":"b7b49bf8.abb29","type":"tab","label":"rpi - ledMsg","disabled":false,"info":""},{"id":"d1e50f86.12bb9","type":"tab","label":"rpi - Display Alert","disabled":false,"info":""},{"id":"d195b92a.45c1a","type":"tab","label":"Basic Display","disabled":false,"info":""},{"id":"addf0262.bf20c","type":"tab","label":"Test Alerts","disabled":false,"info":""},{"id":"a46128f9.a4344","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b921bd3.ebd124","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"1aab8950.8b23df","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"afe6662f.ebdbc","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5451a97.3fad0d8","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"6234ffd1.090678","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2042bf70.e11ed","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"58ca7db6.f396a4","type":"ui_group","z":"","name":"Local Env","tab":"9d56e1c7.e4b348","disp":true,"width":"6","collapse":false},{"id":"314859c3.654a7e","type":"ui_group","z":"","name":"Tables","tab":"9d56e1c7.e4b348","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0d152c1.5bba38","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9d56e1c7.e4b348","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2990d699.187b82","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fc2ac9ae.023d88","type":"ui_group","z":"","name":"Local Env","tab":"c495ebb1.9e9cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"2783c93b.25d996","type":"ui_group","z":"","name":"Temp on all Tables","tab":"6a5f6ebd.7870b","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e29cc5.34c4f34","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c495ebb1.9e9cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a5f6ebd.7870b","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"87de702e.3e1488","type":"ui_group","z":"","name":"Temp on all Tables","tab":"2f1d3799.f340b","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb7487ee.7b0be","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7c9dea93.7a776c","type":"ui_group","z":"","name":"Table 5-8","tab":"2f1d3799.f340b","order":3,"disp":true,"width":"6","collapse":false},{"id":"c63fbd35.fde4f","type":"ui_group","z":"","name":"Table 9-12","tab":"2f1d3799.f340b","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f1d3799.f340b","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b12e6cdd.bcfbe8","type":"ui_group","z":"","name":"Temp on all Tables","tab":"5218b94f.60e8d","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab6c180a.45c118","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"db9d09e1.0c5648","type":"ui_group","z":"","name":"Table 5-8","tab":"5218b94f.60e8d","order":3,"disp":true,"width":"6","collapse":false},{"id":"1a6d284e.9e4d18","type":"ui_group","z":"","name":"Table 9-12","tab":"5218b94f.60e8d","order":4,"disp":true,"width":"6","collapse":false},{"id":"7db67b17.6e70dc","type":"ui_group","z":"","name":"Table 1","tab":"5c42d939.e8e548","order":1,"disp":true,"width":"6","collapse":false},{"id":"e4b03f26.65bdb8","type":"ui_group","z":"","name":"Table 2","tab":"5c42d939.e8e548","order":2,"disp":true,"width":"6","collapse":false},{"id":"f14bf4de.f68c28","type":"ui_group","z":"","name":"Table 3","tab":"5c42d939.e8e548","order":3,"disp":true,"width":"6","collapse":false},{"id":"a8368ead.c72528","type":"ui_group","z":"","name":"Table 4","tab":"5c42d939.e8e548","order":4,"disp":true,"width":"6","collapse":false},{"id":"290a8119.855bb6","type":"ui_group","z":"","name":"Table 5","tab":"5c42d939.e8e548","order":5,"disp":true,"width":"6","collapse":false},{"id":"5218b94f.60e8d","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5c42d939.e8e548","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2b3cd997.a64436","type":"ui_group","z":"","name":"Buttons","tab":"cf071e1c.440c3","disp":true,"width":"6","collapse":false},{"id":"cf071e1c.440c3","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"47a7272c.5208c","type":"ui_group","z":"","name":"Scene","tab":"cf071e1c.440c3","order":2,"disp":true,"width":"6","collapse":false},{"id":"a638d8d7.b43fc","type":"ui_group","z":"","name":"Table 6","tab":"5c42d939.e8e548","order":6,"disp":true,"width":"6","collapse":false},{"id":"37bca8c3.6549f","type":"ui_group","z":"","name":"Table 7","tab":"5c42d939.e8e548","order":7,"disp":true,"width":"6","collapse":false},{"id":"96e8b38b.a80af","type":"ui_group","z":"","name":"Table 8","tab":"5c42d939.e8e548","order":8,"disp":true,"width":"6","collapse":false},{"id":"bfa9cf40.965bb8","type":"ui_group","z":"","name":"Table 9","tab":"5c42d939.e8e548","order":9,"disp":true,"width":"6","collapse":false},{"id":"e3b80be1.3acef","type":"ui_group","z":"","name":"Table 10","tab":"5c42d939.e8e548","order":10,"disp":true,"width":"6","collapse":false},{"id":"86912a2c.92a92","type":"ui_group","z":"","name":"Table 11","tab":"5c42d939.e8e548","order":11,"disp":true,"width":"6","collapse":false},{"id":"b168bf98.452198","type":"ui_group","z":"","name":"Table 12","tab":"5c42d939.e8e548","order":12,"disp":true,"width":"6","collapse":false},{"id":"9f3ee28a.86723","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7e819721.aa18f8","type":"hue-bridge","z":"","name":"New Lab","bridge":"10.0.0.27","key":"AarprBpJNLJ56n5YUpjtzp2ktSoZRgFe2YR9DN8U","interval":"3000"},{"id":"e0af5c1b.59b95","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b989ad16.596ed","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":280,"y":460,"wires":[["4a7ce619.832e68"]]},{"id":"75193276.57f2e4","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":460,"wires":[]},{"id":"1b88243b.ece274","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["4a7ce619.832e68"]]},{"id":"4a7ce619.832e68","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["75193276.57f2e4"]]},{"id":"abc549c2.cedf1","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":150,"wires":[["c36ff9c7.366d9"]]},{"id":"c36ff9c7.366d9","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":542.7272727272726,"y":150,"wires":[]},{"id":"29a60737.155f5","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.1818084716797,"y":265.45452880859375,"wires":[["361e0f8b.6786d"]]},{"id":"ae45cc1d.d5d6e8","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":540.9090811989523,"y":265.45452880859375,"wires":[]},{"id":"361e0f8b.6786d","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":323.6363716125488,"y":266.3636465072632,"wires":[["ae45cc1d.d5d6e8"]]},{"id":"eaa6a81d.4ccdc","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.18181610107422,"y":393.6363525390625,"wires":[["8f16ff37.b7bca8"]]},{"id":"69c542f0.feb794","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":602.7272567749023,"y":393.6363639831543,"wires":[]},{"id":"8f16ff37.b7bca8","type":"change","z":"d195b92a.45c1a","name":"Purple Text Slow Speed","rules":[{"t":"set","p":"color","pt":"msg","to":"purple","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":353.63637924194336,"y":394.54547023773193,"wires":[["69c542f0.feb794"]]},{"id":"4b0be647.9f4f68","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99.09090423583984,"y":510,"wires":[["33250135.bfc756"]]},{"id":"5f6035dc.3db29c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":593.636344909668,"y":510.0000114440918,"wires":[]},{"id":"33250135.bfc756","type":"change","z":"d195b92a.45c1a","name":"Red Text Slow Fast","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324.545467376709,"y":510.90911769866943,"wires":[["5f6035dc.3db29c"]]},{"id":"7f2984b0.75e9ec","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":617,"wires":[["ab3f295f.b7f4f8"]]},{"id":"72fb1d89.b5d91c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":919.727294921875,"y":617,"wires":[]},{"id":"ab3f295f.b7f4f8","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":313.45456314086914,"y":617.9091176986694,"wires":[["8ccd59b3.60085"]]},{"id":"8ccd59b3.60085","type":"function","z":"d195b92a.45c1a","name":"Rotate Text 180 degrees","func":"msg.payload = \"R180\\n\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":617,"wires":[["72fb1d89.b5d91c"]]},{"id":"397f6065.beead8","type":"comment","z":"d195b92a.45c1a","name":"You can just copy this code to display text","info":"Replace the inject node with any node that generates a message\n\n\nAny item that is assigned to msg.property is displayed","x":861,"y":149,"wires":[]},{"id":"5a3b6e9e.9d96f8","type":"comment","z":"d195b92a.45c1a","name":"Here are a list of valid colors","info":"red\nblue\ngreen\npurple\norange\n...","x":832,"y":260,"wires":[]},{"id":"1e490269.e33e9e","type":"comment","z":"d195b92a.45c1a","name":"How to adjust time","info":"You can adjust time by assigning a number 1-5.\n1 is the slowest and 5 is the fastest","x":830,"y":391,"wires":[]},{"id":"e71674a0.fb0678","type":"comment","z":"d195b92a.45c1a","name":"Info on how to Rotate the screen","info":"","x":1226,"y":620,"wires":[]},{"id":"2a9458bb.de5308","type":"comment","z":"d195b92a.45c1a","name":"Create a Message with diffrent colored background","info":"Can you make is easy turn lights on and off on other tables\n\nMake sure the Display goes back to black after the message is displayed\n","x":224,"y":709,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"6fdb6489.3ca04c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":660,"wires":[["da8d327f.6dd68"]]},{"id":"da8d327f.6dd68","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":660,"wires":[]},{"id":"b7e6d5ab.1fdb88","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["195d9e1e.537ada"]]},{"id":"195d9e1e.537ada","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"","retain":"","broker":"a46128f9.a4344","x":770,"y":280,"wires":[]},{"id":"7a3a1a64.2b0a8c","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":330,"y":120,"wires":[["1927393e.7d0587"]]},{"id":"5f6e2889.c6cc78","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":890,"y":120,"wires":[]},{"id":"1927393e.7d0587","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["5f6e2889.c6cc78"]]},{"id":"72eec4e4.c1be7c","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg will display a msg on the local dispay","info":"","x":210,"y":40,"wires":[]},{"id":"435253d7.1b960c","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg","info":"This will send 'Test ledMSG' to the local LED","x":270,"y":280,"wires":[]},{"id":"d5589f3a.959a1","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables/# will display a msg a specific table's display","info":"","x":260,"y":380,"wires":[]},{"id":"164ec1b5.500436","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["1927393e.7d0587"]]},{"id":"f22d7d56.d49d88","type":"comment","z":"b7b49bf8.abb29","name":"Copy this flow to each Raspberry Pi and replace the Table number","info":"","x":740,"y":540,"wires":[]},{"id":"f4a117d7.eda698","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables/1","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":300,"y":660,"wires":[]},{"id":"23ae887c.1c084","type":"comment","z":"b7b49bf8.abb29","name":"This Flow requires MQTT running on a server at 10.0.10.100","info":"","x":1380,"y":260,"wires":[]},{"id":"6b9ecb60.968404","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":270,"y":880,"wires":[["805d833.bb8778"]]},{"id":"a46e82d8.aebda8","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":880,"wires":[]},{"id":"3f0a0160.1f9e76","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":980,"wires":[["805d833.bb8778"]]},{"id":"805d833.bb8778","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["a46e82d8.aebda8"]]},{"id":"78576c26.146e4c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1080,"wires":[["99f2bf25.14df18"]]},{"id":"99f2bf25.14df18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":1080,"wires":[]},{"id":"f8aeba9.b290048","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables will display a msg on all displays","info":"","x":220,"y":800,"wires":[]},{"id":"fea5d773.c4b848","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables","info":"This will send 'Test ledMSG/Tables' to the local LED","x":300,"y":1080,"wires":[]},{"id":"9f30dfd8.880dd8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":460,"wires":[["fc58a91b.d9424"]]},{"id":"fc58a91b.d9424","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":460,"wires":[]},{"id":"fc048521.7ff5c8","type":"comment","z":"b7b49bf8.abb29","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":1520,"y":400,"wires":[]},{"id":"8e3cab89.286fa8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":520,"wires":[["91acf9aa.814238"]]},{"id":"91acf9aa.814238","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":520,"wires":[]},{"id":"730595ce.42eaac","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":580,"wires":[["a18efbce.1d4aa"]]},{"id":"a18efbce.1d4aa","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/3","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":580,"wires":[]},{"id":"e44ea23d.644ab","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":640,"wires":[["b94dd0b9.12c268"]]},{"id":"b94dd0b9.12c268","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/4","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":640,"wires":[]},{"id":"1e2f503f.ce083","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":700,"wires":[["ab292841.33f6a"]]},{"id":"ab292841.33f6a","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/5","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":700,"wires":[]},{"id":"b036c01f.71bc58","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":760,"wires":[["e8166dd2.83d18"]]},{"id":"e8166dd2.83d18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/6","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":760,"wires":[]},{"id":"f29513d1.8ed9b","type":"rpi-sensehat out","z":"d1e50f86.12bb9","name":"","x":1350,"y":400,"wires":[]},{"id":"cbecf4c6.0f9f2","type":"looptimer","z":"d1e50f86.12bb9","duration":"10","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":840,"y":331,"wires":[["f29513d1.8ed9b"],["1696f53d.0d8543"]]},{"id":"a38f76ac.24d038","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":363.1818642616272,"wires":[["1574936a.5bc985"]]},{"id":"1574936a.5bc985","type":"function","z":"d1e50f86.12bb9","name":"White on Red","func":"msg.color = \"white\";\nmsg.background = \"red\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":279,"wires":[["cbecf4c6.0f9f2"]]},{"id":"bea45442.cbdf5","type":"rpi-sensehat out","z":"d1e50f86.12bb9","name":"","x":1397.5,"y":685,"wires":[]},{"id":"306439b.532fe46","type":"function","z":"d1e50f86.12bb9","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":953.5,"y":622,"wires":[["bea45442.cbdf5"]]},{"id":"db5cb9.733ecb48","type":"delay","z":"d1e50f86.12bb9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030.5,"y":464,"wires":[["306439b.532fe46"]]},{"id":"1696f53d.0d8543","type":"change","z":"d1e50f86.12bb9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.5,"y":411,"wires":[["db5cb9.733ecb48"]]},{"id":"70a24e33.1e6948","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["bbd2b3f4.590148"]]},{"id":"bbd2b3f4.590148","type":"mqtt out","z":"d1e50f86.12bb9","name":"","topic":"alert/red","qos":"","retain":"","broker":"9f3ee28a.86723","x":530,"y":540,"wires":[]},{"id":"abc1d842.7bcec8","type":"mqtt in","z":"d1e50f86.12bb9","name":"","topic":"alert/red","qos":"2","datatype":"auto","broker":"9f3ee28a.86723","x":220,"y":180,"wires":[["1574936a.5bc985"]]},{"id":"ef91ea08.13e388","type":"rpi-sensehat out","z":"d1e50f86.12bb9","name":"","x":1330,"y":860,"wires":[]},{"id":"57660b02.115e4c","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":943.1818642616272,"wires":[["16ae140f.48bccc"]]},{"id":"16ae140f.48bccc","type":"function","z":"d1e50f86.12bb9","name":"White on Green","func":"msg.color = \"white\";\nmsg.background = \"green\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":860,"wires":[["ef91ea08.13e388","fbdf81e6.dfe6a"]]},{"id":"a95a95f9.c1bc6","type":"function","z":"d1e50f86.12bb9","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":960,"wires":[["ef91ea08.13e388"]]},{"id":"a1690322.fff778","type":"delay","z":"d1e50f86.12bb9","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":960,"wires":[["a95a95f9.c1bc6"]]},{"id":"fbdf81e6.dfe6a","type":"change","z":"d1e50f86.12bb9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":960,"wires":[["a1690322.fff778"]]},{"id":"e8edea57.af88a8","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1120,"wires":[["2829a07b.41b1a"]]},{"id":"2829a07b.41b1a","type":"mqtt out","z":"d1e50f86.12bb9","name":"","topic":"alert/green","qos":"","retain":"","broker":"9f3ee28a.86723","x":540,"y":1120,"wires":[]},{"id":"c2473b4e.e9458","type":"mqtt in","z":"d1e50f86.12bb9","name":"","topic":"alert/green","qos":"2","datatype":"auto","broker":"9f3ee28a.86723","x":220,"y":760,"wires":[["16ae140f.48bccc"]]},{"id":"4d18ec3e.612c3c","type":"rpi-sensehat out","z":"d1e50f86.12bb9","name":"","x":1330,"y":1640,"wires":[]},{"id":"2a141fa.cfd076","type":"mqtt in","z":"d1e50f86.12bb9","name":"","topic":"alert","qos":"2","datatype":"auto","broker":"9f3ee28a.86723","x":190,"y":1640,"wires":[["21072d2.b16eed2"]]},{"id":"949faf00.248f7","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1520,"wires":[["21072d2.b16eed2"]]},{"id":"21072d2.b16eed2","type":"function","z":"d1e50f86.12bb9","name":"Yellow Text","func":"msg.color = \"yellow\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":1519,"wires":[["4d18ec3e.612c3c"]]},{"id":"8c76d095.16ed68","type":"inject","z":"d1e50f86.12bb9","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1780,"wires":[["bbed7ce9.6a3d"]]},{"id":"bbed7ce9.6a3d","type":"mqtt out","z":"d1e50f86.12bb9","name":"","topic":"alert/yellow","qos":"","retain":"","broker":"9f3ee28a.86723","x":520,"y":1780,"wires":[]},{"id":"637f270d.8b0af8","type":"mqtt in","z":"d1e50f86.12bb9","name":"","topic":"alert/yellow","qos":"2","datatype":"auto","broker":"9f3ee28a.86723","x":210,"y":1420,"wires":[["21072d2.b16eed2"]]},{"id":"244d04f2.032cfc","type":"comment","z":"d1e50f86.12bb9","name":"This sets up the system to Display a Red Alert mesg on all Raspberry Pi","info":"","x":790,"y":60,"wires":[]},{"id":"14f80381.1f35dc","type":"comment","z":"d1e50f86.12bb9","name":"This sets up the system to Display a Green Alert mesg on all Raspberry Pi","info":"","x":760,"y":720,"wires":[]},{"id":"f70fc998.3e4be","type":"comment","z":"d1e50f86.12bb9","name":"This sets up the system to Display a Yellow Alert mesg on all Raspberry Pi","info":"","x":740,"y":1360,"wires":[]},{"id":"a13dbbdb.0ac248","type":"comment","z":"d1e50f86.12bb9","name":"watch for anything sent over alert/red","info":"","x":310,"y":140,"wires":[]},{"id":"6e1fb82c.36ecc8","type":"comment","z":"d1e50f86.12bb9","name":"Change the formating of the message","info":"","x":530,"y":340,"wires":[]},{"id":"eed11d4c.e41ed8","type":"comment","z":"d1e50f86.12bb9","name":"Change the formating of the message","info":"","x":530,"y":920,"wires":[]},{"id":"ccb05dde.4c794","type":"comment","z":"d1e50f86.12bb9","name":"Change the formating of the message","info":"","x":510,"y":1580,"wires":[]},{"id":"1a23c4de.cd91f3","type":"comment","z":"d1e50f86.12bb9","name":"Display the msg 2x on the screen","info":"","x":950,"y":280,"wires":[]},{"id":"e3d54383.05b058","type":"comment","z":"d1e50f86.12bb9","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":770,"y":480,"wires":[]},{"id":"d9ae94dc.49875","type":"comment","z":"d1e50f86.12bb9","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":770,"y":1040,"wires":[]},{"id":"b462cf17.2ae15","type":"comment","z":"d1e50f86.12bb9","name":"Test Red Alert","info":"","x":270,"y":500,"wires":[]},{"id":"9e610114.80175","type":"comment","z":"d1e50f86.12bb9","name":"Test Green Alert","info":"","x":300,"y":1080,"wires":[]},{"id":"1f3dc39.506c4bc","type":"comment","z":"d1e50f86.12bb9","name":"Test Yellow Alert","info":"","x":280,"y":1740,"wires":[]},{"id":"bb9477ff.5058f","type":"comment","z":"d1e50f86.12bb9","name":"Watch for anthing sent over alert","info":"","x":270,"y":1600,"wires":[]},{"id":"b33b9606.96cbe","type":"comment","z":"d1e50f86.12bb9","name":"Watch for anything sent over alert/green","info":"","x":310,"y":720,"wires":[]},{"id":"a025130d.71d5d8","type":"comment","z":"d1e50f86.12bb9","name":"Watch for anything sent over alert/yellow","info":"","x":300,"y":1360,"wires":[]},{"id":"a339b34e.d55bd8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":820,"wires":[["263a5845.ba4568"]]},{"id":"263a5845.ba4568","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/7","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":820,"wires":[]},{"id":"eab6b255.c0d66","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":880,"wires":[["a882e540.e70cd"]]},{"id":"a882e540.e70cd","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/8","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":880,"wires":[]},{"id":"c2dcb02b.2beaa","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":940,"wires":[["cca1dcd1.f41218"]]},{"id":"cca1dcd1.f41218","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/9","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":940,"wires":[]},{"id":"51a52be.e8f7fd4","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1000,"wires":[["278e2f71.593db"]]},{"id":"278e2f71.593db","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/10","qos":"","retain":"","broker":"a46128f9.a4344","x":1660,"y":1000,"wires":[]},{"id":"54e4e4ec.03986c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1060,"wires":[["653a4ff2.ee8178"]]},{"id":"653a4ff2.ee8178","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/11","qos":"","retain":"","broker":"a46128f9.a4344","x":1660,"y":1060,"wires":[]},{"id":"4cd9913a.91bc68","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1120,"wires":[["ba5c82e0.6cd648"]]},{"id":"ba5c82e0.6cd648","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/12","qos":"","retain":"","broker":"a46128f9.a4344","x":1660,"y":1120,"wires":[]},{"id":"bd894c1b.04eeb","type":"inject","z":"addf0262.bf20c","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["f39558e0.bc918"]]},{"id":"f39558e0.bc918","type":"mqtt out","z":"addf0262.bf20c","name":"","topic":"alert/red","qos":"","retain":"","broker":"e0af5c1b.59b95","x":390,"y":120,"wires":[]},{"id":"3ea5a56c.81a22a","type":"inject","z":"addf0262.bf20c","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["dba6b41e.b7fc8"]]},{"id":"dba6b41e.b7fc8","type":"mqtt out","z":"addf0262.bf20c","name":"","topic":"alert/green","qos":"","retain":"","broker":"e0af5c1b.59b95","x":380,"y":240,"wires":[]},{"id":"2658c8de.dbc3e8","type":"comment","z":"addf0262.bf20c","name":"Test Red Alert","info":"","x":130,"y":80,"wires":[]},{"id":"5af45516.2a53b4","type":"comment","z":"addf0262.bf20c","name":"Test Green Alert","info":"","x":140,"y":200,"wires":[]},{"id":"532747a.febceb8","type":"inject","z":"addf0262.bf20c","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["43fb95f9.30b984"]]},{"id":"43fb95f9.30b984","type":"mqtt out","z":"addf0262.bf20c","name":"","topic":"alert/yellow","qos":"","retain":"","broker":"e0af5c1b.59b95","x":380,"y":360,"wires":[]},{"id":"287626de.121e02","type":"comment","z":"addf0262.bf20c","name":"Test Green Alert","info":"","x":140,"y":320,"wires":[]}]