ledMsg-flow.json
[{"id":"ec040c93.ca90a","type":"mqtt in","z":"ea84d9f0.6ab8d","name":"","topic":"ledMsg/#","qos":"2","datatype":"auto","broker":"365f9fb.dbad36","x":140,"y":440,"wires":[["620a6ef9.cee84","44228991.86e1b8"]]},{"id":"620a6ef9.cee84","type":"function","z":"ea84d9f0.6ab8d","name":"Check Table Number","func":"if ((msg.topic == (\"ledMsg/\" + env.get(\"HOSTNAME\"))) || ( msg.topic == \"ledMsg/all\" )) {\n    return msg;\n} ","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["858219e9.3a3e18","a3193594.bb3128"]]},{"id":"858219e9.3a3e18","type":"rpi-sensehat out","z":"ea84d9f0.6ab8d","name":"","x":670,"y":440,"wires":[]},{"id":"a3193594.bb3128","type":"debug","z":"ea84d9f0.6ab8d","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":660,"y":380,"wires":[]},{"id":"672ca75a.92b598","type":"inject","z":"ea84d9f0.6ab8d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":540,"wires":[["f2b4df4.18bc32"]]},{"id":"f2b4df4.18bc32","type":"mqtt out","z":"ea84d9f0.6ab8d","name":"","topic":"ledMsg/table-4","qos":"","retain":"","broker":"365f9fb.dbad36","x":470,"y":540,"wires":[]},{"id":"44228991.86e1b8","type":"debug","z":"ea84d9f0.6ab8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":380,"wires":[]},{"id":"365f9fb.dbad36","type":"mqtt-broker","z":"","name":"Local Host","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
